<div class="jumbotron"><h1><%= @song.title %></h1></div>
<a href="/" class="btn btn-default" role="button" >Home</a>
<hr />

<div class="error"><%= flash[:notice] if flash[:notice] %></div>

<% if current_user && get_review(@song.id).nil? %>
  <form method="post" action="/songs/review" role="form">
    <div class="form-group">
      <input type="hidden" name="song_id" value=<%= @song.id %>>
      <label for="content">Review:</label>
      <textarea name="content" rows="4" cols="50" class="form-control">
      </textarea>
    </div>
    <div>
      <input class="btn btn-primary" role="button"  type="submit" value="Submit">
    </div>

  </form>
<% elsif current_user.nil? %>
  <h2> You must be logged in to review </h2>
<% end %>

<div class="list-group">
<% unless @reviews.nil? %>
  <% @reviews.each do |review| %>
    <div class="list-group-item">
      <div class="review username label label-info author"><%= review.user.username %></div>
      <hr />
      <% if get_review(@song.id) %>
        <span class="right-form">
          <form method="post" action="/songs/reviews/delete" role="form">
            <input type="hidden" name="song_id" value=<%= @song.id %>>
            <input class="btn btn-danger" role="button"  type="submit" value="Delete">
          </form>
        </span>
      <% end %>
      <div class="review"><%= review.content %></div>
    </div>
  <% end %>
<% end %>
</div>