<div class="jumbotron"><h1>Song Wall</h1></div>

<div>
<a href="/songs/new" class="btn btn-info" role="button" >Add a song</a>
<a href="/users/login" class="btn btn-info" role="button" >Login</a>
<a href="/users/signup" class="btn btn-info" role="button" >Sign up</a>
</div>

<div class="list-group">
<% @songs.each do |song| %>
  <div class="list-group-item">
    <span class="post-heading"><h1 class="label label-info author"><%= song.author %></h1>
    Created: <%= song.created_at %></span>
    <br/><span class="song-title"><strong><%= song.title %></strong></span>
  
    <% unless song.url.empty? %>
      <a href="<%= song.url %>">Link:  <%= song.url %></a>
    <% end %>
  </div>
<% end %>
</div>
