<%= erb :'/errors' %>

<div class="list-group">
<% @songs.each do |song| %>
  <div class="list-group-item">
    <span class="post-heading"><h1 class="label label-info author"><%= song.author %></h1>
    Created: <%= song.created_at %></span>
    <% if current_user %>
      <span class="right-form">
          <form method="post" action="/songs/upvote" role="form">
          <input type="hidden" name="song_id" value=<%= song.id %>>
            <input class="btn btn-success" role="button"  type="submit" value="Upvote">
          </form>
      </span>
    <% end %>
    <span class="upvotes glyphicon glyphicon-arrow-up"><%= song.upvote %></span>
    <br/><span class="song-title"><a href="/songs/show/<%= song.id %>"><strong><%= song.title %></strong></a></span>
  
    <% unless song.url.empty? %>
      <a href="<%= song.url %>">Link:  <%= song.url %></a>
    <% end %>
  </div>
<% end %>
</div>